# List

**Functions and Methods**

Q1. use sort() function to sort [34,1,2,6,3,7], [[1,3], [3,2], [1,2], [3,1]] and ['a', 'x', 'e', 'A', 'X', 'E'] and tell us what you observe in 2nd, 3rd list

In [2]:
lst1 = [34,1,2,6,3,7]
lst1.sort()
print(lst1)

[1, 2, 3, 6, 7, 34]

In [3]:
lst2 =  [[1,3], [3,2], [1,2], [3,1]] 
lst2.sort()
print(lst2)

[[1, 2], [1, 3], [3, 1], [3, 2]]

In [4]:
lst3 = ['a', 'x', 'e', 'A', 'X', 'E']
lst3.sort()
print(lst3)

['A', 'E', 'X', 'a', 'e', 'x']

In [ ]:
## In second list it sorts based on element in list in list 

## In third list uppercase is smaler than lowercase alphabets

Q2. using count() function print the count of 2 and 3 and then using pop() and remove() function to get all a list of unique numbers for [1,2,2,3,3,3]

In [6]:
lst =  [1,2,2,3,3,3]

In [11]:
print("Total count of 2 is {} and 3 is {} ".format(lst.count(2),lst.count(3)))

Total count of 2 is 2 and 3 is 3

Q3. using index() find the index of min and max value in the list [3,6,2,1,7,2,9] and swap them

In [16]:
list1 = [3,6,2,1,7,2,9]
print("Index of min and max are {}, {} respectively " .format(list1.index(min(list1)),list1.index(max(list1))))

Index of min and max are 3, 6 respectively

**Slicing**

Q4. Using slicing method slice [1,2,3,4,5,6,7,8,9,10] in the following ways<br>
    a) elements <4 and elements>6 <br>
    b) elements <=5 and element >5 but in reverse order<br>
    c) odd numbers and even numbers

In [25]:
list2 = [1,2,3,4,5,6,7,8,9,10]

lst = list2[2:5]

[1, 2, 3, 7, 8, 9, 10]

In [48]:
list2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Q5. Use extend() and list concatenation function on the 2 list obtained from Q4.c

**Unpacking List**

Q6. using unpacking method unpack the following lists in different data types<br>
a) [1,2.1,"hello"]<br>
b) ["hi", 1.1, 2.3, [1,2]]
c) ["h1", [1,3], 1,2]

In [60]:
list1 = [1,2.1,"hello"]
list2 = ["hi", 1.1, 2.3, [1,2]] 
list3 =  ["h1", [1,3], 1,2]

In [61]:
*integers,string = list1
print(integers)
print(string)

[1, 2.1]
hello

In [62]:
string,*integers,lst = list2

print(string)
print(integers)
print(lst )

hi
[1.1, 2.3]
[1, 2]

In [63]:
string,lst ,*integers= list2

print(string)
print(lst )
print(integers)

hi
1.1
[2.3, [1, 2]]

# String

**Functions and Methods**

Q1. Using split() function split the following strings on the given character<br>
a) "Hello I am Google Colab", " " (normal split)<br>
b) "user@example.com", "@" <br>
c) "Amanda is a woman", "a"

In [65]:
str1 = "Hello I am Google Colab"
str2 = "user@example.com"
str3 = "Amanda is a woman"

In [66]:
str1.split()

['Hello', 'I', 'am', 'Google', 'Colab']

In [67]:
str2.split('@')

['user', 'example.com']

In [68]:
str3.split('a')

['Am', 'nd', ' is ', ' wom', 'n']

Q2. Join the list ["Hello", "World", "Nice", "to", "meet", "you"] with the following way<br>
a) normal<br>
b) "@"

In [70]:
lst1 =  ["Hello", "World", "Nice", "to", "meet", "you"]

In [74]:
joined = " ".join(lst1)
print(joined)

Hello World Nice to meet you

In [73]:
joined = "@".join(lst1)
print(joined)

Hello@World@Nice@to@meet@you

Q3. Replace "?" in the string with the right word to make a logically correct sentence<br>
a) "one plus one is ?"
b) "it's ? in the clock" (mention the time in the clock when you are atempting this question)

In [75]:
x = "one plus one is ?" 
y = "it's ? in the clock"

In [78]:
print(x.replace("?","two"))
print(y.replace("?", "12:30"))

one plus one is two
it's 12:30 in the clock

# Dictionaries

Q1. Construct a Dictionary with keys ===> "name", "age", "color", "place" and repective values ===> your name, your age, your fav color, place where you live.<br>

After constructing the dictionary, print the list of keys, values and items of the dictionary

In [83]:
my_dict = {"name":"","age":"","color":"","place":""}

In [84]:
my_dict["name"] = "Asheesh"
my_dict["age"] = "26"
my_dict["color"] = "Black"
my_dict["place"] = "Delhi"

In [88]:
print(my_dict.keys())

dict_keys(['name', 'age', 'color', 'place'])

In [89]:
print(my_dict.values())

dict_values(['Asheesh', '26', 'Black', 'Delhi'])

In [90]:
print(my_dict.items())

dict_items([('name', 'Asheesh'), ('age', '26'), ('color', 'Black'), ('place', 'Delhi')])

Q2. Construct a dictionary that contains 2 keys each as a name of your friend and value as a dictionary mentioned in Q1<br>

eg:- {"friend1":{"name": "Prashant", "age": "22"....}, "friend2": {...}}

print the list items of the main dictionary and also the sub-dictionaries present as value

In [102]:
my_friends = {"friend1": {"name":"Sai Kiran","age":"26","color":"Blue","place":"Telangana"}, "friend2": {"name":"Rajneesh","age":"26","color":"Green","place":"Ghajipur"}}

In [103]:
my_friends.items()

dict_items([('friend1', {'name': 'Sai Kiran', 'age': '26', 'color': 'Blue', 'place': 'Telangana'}), ('friend2', {'name': 'Rajneesh', 'age': '26', 'color': 'Green', 'place': 'Ghajipur'})])

In [104]:
my_friends.values()

dict_values([{'name': 'Sai Kiran', 'age': '26', 'color': 'Blue', 'place': 'Telangana'}, {'name': 'Rajneesh', 'age': '26', 'color': 'Green', 'place': 'Ghajipur'}])