#Python Assessment Test

**Question 1. For the full answers, review the notebook introductions of each topic!. Describe the following object type data                stuctures
1. Numbers
2. Strings
3. List
4. Tuples
5. Dictionaries

Use text cells to write your answers.

1. Numbers:################################
2. Strings: 
3. List:
4. Tuples:
5. Dictionaries:

**Question 2. Given the string 'Rameshwaram' give an index command that returns 'shwar'. Enter your code in the cell below:**

In [1]:
s='Rameshwaram'
# Print out 'shwar' using indexing. 

print(s[4:9])

shwar

**Question 3. Guess the output of  print(0.1+0.2==0.3), without running a code and write your answer in the text cell given below (shown below as Double-click (or enter) to edit). Use # before your answer to write in bold letters.**

# True

**Question 4. Now run print(0.1+0.2==0.3) in the code cell. Check the result and compare with your guessed answer.\
Explain the output. You can use internet to search the answer.**

In [4]:
print(0.1+0.2==0.3)
#Explain the output

## It is false because adding two flowting numbers is approximate value python interpretor. so 0.1 + 0.2 is not exactly equal to 0.3

False

**Question 5. Print a complex number 2+5i in three different ways.**

In [111]:
print(2 + 5j)

(2+5j)

In [110]:
complex(2,6)

(2+6j)

In [ ]:
# method 3************************************************************

**Question 6. Run the following code and explain the outcome**

In [ ]:
#Explain the outcome of the following code
s='Welcome'
s[1]='w'

# it will replace 'e' (at index 1) with 'w'

**Question 7. Reassign 'hello' in this nested list to say 'goodbye' instead:**

In [5]:
list1 = [1,2,[3,4,'hello']]
list1[2][2] = 'goodbye'
list1

[1, 2, [3, 4, 'goodbye']]

**Question 8. Using keys and indexing, grab the 'hello' from the following dictionary:**

In [7]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [16]:
d['k1'][2]['k2'][1]['tough'][2]

['hello']

**Question 9. Can you sort a dictionary? Why or why not?**

### we can not sort dictionaries.
### reason is that it doese not have indexing or order.

**Question 10. Use a one line code to find the unique values of the list below**

In [23]:
list2 = [1,2,2,33,4,4,11,22,3,3,2]
list3 = []
for i in list2:
    if i not in list3:
        list3.append(i)
list3

[1, 2, 33, 4, 11, 22, 3]

**Question 11. Use for, .split(), and if to create a Statement that will print out words that start with 's':**

In [25]:
s = 'Print only the words that start with s in this sentence'

In [29]:
ss= s.split()
for i in ss:
    if i[0] == 's':
        print(i)

start
s
sentence

**Question 12. Use range() to print all the even numbers from 0 to 50.**

In [35]:
for i in range(0,51):
    if i % 2 ==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

**Question 13. Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 4.**

In [44]:
list4 = [i for i in range(1,50) if i%4==0]

list4

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48]

**Question 14. Go through the string below and if the length of a word is even print "even!"**

In [1]:
s = 'Print every word in this sentence that has an even number of letters'

for i in s.split():
    if len(i)%2==0:
        print("even!")

even!
even!
even!
even!
even!
even!
even!
even!
even!

**Question 15. Write a Python function to check whether a string is pangram or not. (Assume the string passed in does not have any punctuation)**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: You may want to use .replace() method to get rid of spaces.

Hint: Look at the [string module](https://stackoverflow.com/questions/16060899/alphabet-range-in-python)

Hint: In case you want to use [set comparisons](https://medium.com/better-programming/a-visual-guide-to-set-comparisons-in-python-6ab7edb9ec41)

In [3]:
import string
string.ascii_lowercase #Check the output of this line of code

'abcdefghijklmnopqrstuvwxyz'

In [6]:
def ispangram(str1, alphabet=string.ascii_lowercase):
    for char in alphabet:
        if char in str1:
            return True
    return False

In [7]:
ispangram("The quick brown fox jumps over the lazy dog")

True

**Question 16.** **Object Oriented Programming Challenge**

For this challenge, create a bank account class that has two attributes:

* owner
* balance

and two methods:

* deposit
* withdraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [100]:
class Account:
    
    def __init__(self,owner,balance):  # parameter 
        self.owner = owner
        self.balance = balance
    def deposit(self,amount):
        self.balance += amount
        print("Credited:", amount)
    
    def withdraw(self, amount):
        if amount<= self.balance:
            self.balance -= amount
            print("debited: ",amount)
        else:
            print("You can not withdraw more than your balance! ")
    pass

In [101]:
# 1. Instantiate the class
acct1 = Account('Prepleaf',1000)

In [102]:
# 2. Print the object
print(acct1)

# output:
#Account owner:   Prepleaf
#Account balance: $1000

<__main__.Account object at 0x000000D48E1DF3A0>

In [103]:
# 3. Show the account owner attribute
acct1.owner
#output:
#'Prepleaf'

'Prepleaf'

In [104]:
# 4. Show the account balance attribute
acct1.balance
#output:
#1000

1000

In [105]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(50)
#output:
#Deposit Accepted

Credited: 50

In [106]:
acct1.withdraw(75)
#output:
#Withdrawal Accepted

debited:  75

In [107]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(1500)
#output:
#Funds Unavailable!

You can not withdraw more than your balance!

Question 17.  combine given two series to form a dataframe with columns names as col1, col2 and print the first five rows.

In [62]:
import pandas as pd
import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
df = pd.DataFrame(list(zip(ser1,ser2)), columns = ["col1","col2"])
df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

Question 18. Given the data. Which manufacturer, model and type has the highest Price?

In [10]:
 import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

In [11]:
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i

In [13]:
df['Price'].max()

61.9

In [109]:
index = df[df['Price'] == df['Price'].max()].index.values

#mf = df.groupby(['Manufacturer','Model','Type'])
df.iloc[index]

#***************************************************************

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
58,Mercedes-Benz,300E,Midsize,43.8,61.9,80.0,19.0,25.0,Driver & Passenger,Rear,...,5.0,NaN,110.0,69.0,37.0,NaN,15.0,3525.0,non-USA,Mercedes-Benz 300E

In [37]:
mf.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.9,15.9,18.8,25.0,31.0,None,Front,...,5.0,177.0,102.0,68.0,37.0,26.5,NaN,2705.0,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.2,33.9,38.7,18.0,25.0,Driver & Passenger,Front,...,5.0,195.0,115.0,71.0,38.0,30.0,15.0,3560.0,non-USA,Acura Legend
2,Audi,90,Compact,25.9,29.1,32.3,20.0,26.0,Driver only,Front,...,5.0,180.0,102.0,67.0,37.0,28.0,14.0,3375.0,non-USA,Audi 90
3,Audi,100,Midsize,NaN,37.7,44.6,19.0,26.0,Driver & Passenger,NaN,...,6.0,193.0,106.0,NaN,37.0,31.0,17.0,3405.0,non-USA,Audi 100
4,BMW,535i,Midsize,NaN,30.0,NaN,22.0,30.0,NaN,Rear,...,4.0,186.0,109.0,69.0,39.0,27.0,13.0,3640.0,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,Volkswagen,Fox,Small,8.7,9.1,9.5,25.0,33.0,None,Front,...,4.0,163.0,93.0,63.0,34.0,26.0,10.0,2240.0,non-USA,Volkswagen Fox
88,Volkswagen,Eurovan,Van,16.6,19.7,22.7,17.0,21.0,None,Front,...,7.0,187.0,115.0,72.0,38.0,34.0,NaN,3960.0,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.6,20.0,22.4,21.0,30.0,None,Front,...,5.0,180.0,103.0,67.0,35.0,31.5,14.0,2985.0,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.9,23.3,23.7,18.0,25.0,None,Front,...,4.0,159.0,97.0,66.0,36.0,26.0,15.0,2810.0,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.8,22.7,23.5,21.0,28.0,Driver only,Rear,...,5.0,190.0,104.0,67.0,37.0,29.5,14.0,2985.0,non-USA,Volvo 240

Question 19. What is the row and column number of the cell with the highest Price value?

Question 20. Run this code. If you get an error. Use exceptional handling to print as "An error occurred" when error occurs.

In [64]:
list = [1,2,3,4]

try:
    
    for i in range(5):
        print(list[i])
except: 
    print("An error occurred")

1
2
3
4
An error occurred