**Q. Ask user to enter age, sex ( M or F ), marital status ( Y or N ) and then using following rules print** **their place of service.
if employee is female, then she will work only in urban areas.**

**if employee is a male and age is in between 20 to 40 then he may work in anywhere**

**if employee is male and age is in between 40 t0 60 then he will work in urban areas only.**

**And any other input of age should print "ERROR".**

In [38]:
age = int(input("Enetr your age : "))
sex = input("Enetr your sex, male(M) female(F)")
ms =input("if married then Y othewise N : ")
sex = sex.upper()

if sex == "F" :
    print('Work only in urba area')
elif sex == 'M':
    if age>=20 and age<=40:
        print("Can work anywhere")
    elif age>40 and age<60:
        ("Can work only in urban areas")
else:
    print("ERROR")

Enetr your age : 22
Enetr your sex, male(M) female(F)f
if married then Y othewise N : n
Work only in urba area

**Q. Take input of age of 3 people by user and determine oldest and youngest** 
**among them, using if-else statement**

In [33]:
a = int(input("Enetr age of a : "))
b = int(input("Enetr age of b : "))
c = int(input("Enetr age of c : "))

if a>b and b>c:
    print("a is oldest and c is youngest")
elif a>b and b<c:
    print("a is oldest and b is youngest")
elif b>a and a>c:
    print("b is oldest and c is youngest")
elif b>a and a<c:
    print("b is oldest and a is youngest")
elif c>a and a>b:
    print("c is oldest and b is youngest")
elif c>a and a<c:
    print("b is oldest and c is youngest")

Enetr age of a : 55
Enetr age of b : 12
Enetr age of c : 32
a is oldest and b is youngest


**Q. Take input of integer n, perform the following conditional actions:**

**If n is odd, print Weird**

**If n is even and in the inclusive range of  0 to 10, print Not Weird**

**If n is even and in the inclusive range of 11 to 100, print Weird**

**If n is even and greater than 100, print Not Weird**

In [32]:
n = int(input("Enetr an inter number: "))
if n%2 != 0:
    print("Weird")
else:
    if n>=0 and n<=10:
        print("Not Weird")
    elif n>=11 and n<=100:
        print("Weird")
    elif n>100:
        print("Not Weird")

Enetr an inter number: 0
Not Weird

**Q. Print the following pattern**

1 

1 2 

1 2 3 

1 2 3 4 

1 2 3 4 5

In [24]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end = ' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

**Q. Take input of two integers A and B. Write a code and print sum of all the numbers which are divisible by 11 but not by 2 between 100 and 500.**

In [41]:
a = int(input("Enetr lower number greater than 100: "))
b = int(input("Enetr higher number less than 500: "))

for i in range(a,b):
    if i%11 == 0 and i%2 != 0:
        print(i)

Enetr lower number greater than 100: 122
Enetr higher number less than 500: 400
143
165
187
209
231
253
275
297
319
341
363
385

**Q. Take a input of any integer and print sum of its digits.**

In [42]:
x = int(input("Enetr a inter number: "))
summ =0
x1 = str(x)
for i in x1:
    j = int(i)
    summ = summ + j

print(summ)

Enetr a inter number: 22
4